DB_PORT=3306
DEV_DB_NAME=far_trip
TEST_DB_NAME=far_trip_qa
PROD_DB_NAME=far_trip_prod
DEV_DB_USERNAME=frtp
TEST_DB_USERNAME=frtp_qa
PROD_DB_USERNAME=frtp_prod
DB_PASSWORD=password
DB_POOL_MAX=5
DB_POOL_MIN=0
DB_IDLE=10000
DB_ACQUIRE=3000
DB_POOL_EVICT=10000
PORT=9000
DEV_ORIGIN=
NODEMAILER_EMAIL=
NODEMAILER_PASSWORD=
JWT_SECRET=
CLIENT_ID=fartrip
CLIENT_SECRET=secret
MAPQUEST_KEY=
